
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 50px;
  background-color: #fff;
  border-bottom: 2px solid #eee;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


.logo {
  width: 100px; 
  height: auto;
}


.nav-items ul {
  display: flex;
  gap: 35px; 
}

.nav-items ul li {
  list-style: none;
  cursor: pointer;
  padding: 12px 18px;
  font-size: 20px; 
}
